<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealMapper">


    <select id="getDishItemById" resultType="com.sky.vo.DishItemVO">
        SELECT sd.name, sd.copies, d.image, d.description FROM setmeal_dish sd left join dish d on sd.dish_id = d.id
        <where>setmeal_id = #{setmealId}</where>
    </select>
</mapper>